@page "/dashboard/admin"
<div class="w-screen min-h-screen flex flex-col justify-start bg-background">
    <Navbar/>

</div>

@code {


    // protected override async Task OnInitializedAsync()
    // {
        
    // }
}
