@page "/guests"
<div class="w-screen min-h-screen flex flex-col justify-start bg-background">
    <Navbar />
    <div class="w-4/5 flex justify-evenly items-stretch font-montserrat">
        Guests

    </div>
</div>

@code {
}

