@inherits LayoutComponentBase
@using Oasis.State
@inject SonnerState toast
@inject Initialization init

<div class="page light" @onclick="init.HandleMainLayoutClickEvent">
 


    @Body
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // This initializes the theme for the components.
        // Then you can use init.ToggleTheme() to toggle between light and dark modes.
        if (firstRender) await init.InitializeTheme();
    }
}