@page "/dashboard/housekeeper"

<div class="relative mx-auto h-screen w-screen overflow-hidden bg-white">
      <Navbar />
        <div class="flex h-25 w-full justify-center">
            <div class="flex h-full w-full justify-evenly rounded-2xl bg-white">
                <div class="mt-10 ml-4 h-full w-2/5">
                    <div class="flex h-15 w-full justify-center rounded-xl bg-[#D1FAE5]">
                        <Icon Name="check" Size="40px" Color="#059669" />
                    </div>
                </div>
                <div class="flex h-6/8 w-full">
                    <div class="mt-6 h-full w-4/5 items-start">
                        <p class="w-full text-sm">Total Rooms Cleaned</p>
                        <p class="w-full text-3xl font-bold">-</p>
                    </div>
                </div>
            </div>
            <div class="flex h-full w-full justify-evenly rounded-2xl bg-white">
                <div class="h-50% ml-4 w-2/5">
                    <div class="flex h-15 w-full justify-center rounded-xl bg-[#FEE2E2]">
                        <Icon Name="mop" Size="40px" Color="#DC2626" />
                    </div>
                </div>
                <div class="flex h-4/5 w-full">
                    <div class="mt-6 h-full w-4/5 items-start">
                        <p class="w-full text-sm">Room to Clean</p>
                        <p class="w-full text-3xl font-bold">-</p>
                    </div>
                </div>
            </div>
            <div class="flex h-full w-full justify-evenly rounded-2xl bg-white">
                <div class="h-50% ml-4 w-2/5">
                    <div class="flex h-15 w-full justify-center rounded-xl bg-[#FEF3C7]">
                        <Icon Name="build" Size="40px" Color="#D97706" />
                    </div>
                </div>
                <div class="flex h-6/8 w-full">
                    <div class="mt-6 h-full w-4/5 items-start">
                        <p class="w-full text-sm">Maintenance Requests</p>
                        <p class="w-full text-3xl font-bold">-</p>
                    </div>
                </div>

            </div>
            <div class="flex h-full w-full justify-evenly rounded-2xl bg-white">
                <div class="h-50% ml-4 w-2/5">
                    <div class="flex h-15 w-full justify-center rounded-xl bg-[#EDE9FE]">
                        <Icon Name="groups" Size="40px" Color="#7C3AED" />
                    </div>
                </div>
                <div class="flex h-6/8 w-full">
                    <div class="mt-6 h-full w-4/5 items-start">
                        <p class="w-full text-sm">Staff on Duty</p>
                        <p class="w-full text-3xl font-bold">-</p>
                    </div>
                </div>

            </div>
        </div>
</div>