@page "/dashboard/housekeeper"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
    <div class="relative mx-auto h-screen w-screen overflow-hidden bg-white">
<Navbar />

</div>

@code {

}
