

<div class="bg-[#0040A6] w-screen py-5 px-10 flex justify-between items-center font-montserrat shadow-md shadow-gray-400/50">
    <div class="h-full w-1/2 flex justify-start items-center">
        <div class="flex h-full justify-center items-center"><img src="logo_white.png" alt="Alternate Text" class="pb-2 h-10" /></div>
        <div class="ml-7.5 gap-10  flex justify-start items-center text-white">
            <div class="mx-3"><NavLink href="/dashboard/housekeeper" class="nav-link" activeClass="font-bold">Dashboard</NavLink></div>
            <div class="mx-3"><NavLink href="/receptionist/rooms" class="nav-link" activeClass="font-bold">Rooms</NavLink></div>
            <div class="mx-3"><NavLink href="/dashboard/history" class="nav-link" activeClass="font-bold">History</NavLink></div>
        </div>
    </div>
    <div class="h-full flex justify-center items-center">
        <img src="icons/notification_bell.png" alt="Alternate Text" />
        <div class="w-[30px] h-[30px] rounded-full bg-[url('/clouds.png')] bg-cover"></div>
        @* Welcome, Admin |<button class="cursor-pointer hover:bg-red-300/40 p-1 px-3 rounded-md transition-all duration-300"> *@
        @* <NavLink href="/signin"><Icon Name="Logout" size="30px" Class="focus:outline-none mt-1 " Color="black" /></NavLink> *@

        @* </button> *@
    </div>
</div>

@code {
     
}

