@page "/receptionist/bookings"
@rendermode InteractiveServer

<div class="w-screen h-screen flex flex-col justify-start bg-background font-montserrat">
	<Navbar />
	<div class="w-screen flex flex-row justify-center px-20 mt-100">
		<p>Bookings</p>

	</div>
</div>

@code {

}
