@page "/dashboard/receptionist"
@rendermode InteractiveServer


<div class="bg-background  flex min-h-screen w-screen flex-col justify-start">

    @* Navbar *@
    <RecepNavBar/>

    @*Left Div*@
    <div class="w-7/8 flex justify-evenly items-stretch font-montserrat">
        <div class="w-4/5 flex flex-col">
            <div class="w-full h-25 flex justify-center">
                <div class="w-full bg-white h-full rounded-2xl flex justify-evenly">
                    <div class="w-2/5 h-full ml-4 mt-10">
                        <div class="bg-[#D1FAE5] flex justify-center w-full rounded-xl h-15">
                            <Icon Name="hotel" Size="40px" Color="#059669" />
                        </div>
                    </div>
                    <div class="w-full h-6/8 flex">
                        <div class="w-4/5 h-full items-start mt-6">
                            <p class="w-full text-sm">Available Rooms</p>
                            <p class="text-3xl w-full font-bold">-</p>
                        </div>
                    </div>
                </div>
                <div class="w-full bg-white h-full rounded-2xl flex justify-evenly">
                    <div class="w-2/5 h-50% ml-4">
                        <div class="bg-[#FEE2E2] flex justify-center w-full rounded-xl h-15">
                            <Icon Name="door_front" Size="40px" Color="#DC2626" />
                        </div>
                    </div>
                    <div class="w-full h-4/5 flex">
                        <div class="w-4/5 h-full items-start mt-6">
                            <p class="w-full text-sm">Occupied Rooms</p>
                            <p class="text-3xl w-full font-bold">-</p>
                        </div>
                    </div>
                </div>
                <div class="w-full bg-white h-full rounded-2xl flex justify-evenly">
                    <div class="w-2/5 h-50% ml-4">
                        <div class="bg-[#FEF3C7] flex justify-center w-full rounded-xl h-15">
                            <Icon Name="cleaning_services" Size="40px" Color="#D97706" />
                        </div>
                    </div>
                    <div class="w-full h-6/8 flex">
                        <div class="w-4/5 h-full items-start mt-6">
                            <p class="w-full text-sm">Maintenance</p>
                            <p class="text-3xl w-full font-bold">-</p>
                        </div>
                    </div>
                    
                </div>
                <div class="w-full bg-white h-full rounded-2xl flex justify-evenly">
                    <div class="w-2/5 h-50% ml-4">
                        <div class="bg-[#EDE9FE] flex justify-center w-full rounded-xl h-15">
                            <Icon Name="event_available" Size="40px" Color="#7C3AED" />
                        </div>
                    </div>
                    <div class="w-full h-6/8 flex">
                        <div class="w-4/5 h-full items-start mt-6">
                            <p class="w-full text-sm">Reservation</p>
                            <p class="text-3xl w-full font-bold">-</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="w-full h-370 bg-white flex flex-col rounded-2xl font-montserrat p-7">
                <div class="w-full flex flex-col">
                    <p class="text-2xl font-bold w-full">Room Inventory</p>
                </div>
                <div class="w-full  h-[1px] bg-gray-300"></div>
                <div class="w-full flex">
                    <input type="text" name="name" placeholder="Search Rooms..."
                           class="  duration-250 bg-white focus:outline-none w-130 pl-3 text-sm p-2 px-4 rounded-md border border-gray-200 focus:border-gray-500" />
                    <div class="inset-0 fixed z-20 " style="@(IsDropdownOpen ? "opacity: 1;" : "opacity: 0; pointer-events:none;")" @onclick='CloseDropdown'></div>
                    <div class="h-full flex">
                        <ul class="z-21 absolute mt-13 bg-[#fafafa] rounded-md  overflow-hidden transition-all duration-200" style="@(IsDropdownOpen ? "opacity: 1;" : "opacity: 0; pointer-events:none;")">
                        </ul>
                        <button @onclick="OpenDropdown" class="cursor-pointer flex h-10 content-center transition-all justify-between duration-200  hover:bg-white/20 bg-white  focus:outline-none border border-gray-200  rounded-md px-6 ml-7">  Category <img src="icons/drop.png"  class="flex"/> </button>

                        <ul class="z-21 absolute mt-13 bg-[#fafafa] rounded-md  overflow-hidden transition-all duration-200" style="@(IsDropdownOpen ? "opacity: 1;" : "opacity: 0; pointer-events:none;")">
                        </ul>
                        <button @onclick="OpenDropdown" class="cursor-pointer flex h-10 content-center transition-all duration-200  hover:bg-white/20 bg-white  focus:outline-none border border-gray-200  rounded-md px-6 ml-2">  Status <img src="icons/drop.png" /> </button>

                        <ul class="z-21 absolute mt-13 bg-[#fafafa] rounded-md  overflow-hidden transition-all duration-200" style="@(IsDropdownOpen ? "opacity: 1;" : "opacity: 0; pointer-events:none;")">
                        </ul>
                        <button @onclick="OpenDropdown" class="cursor-pointer  flex h-10 content-center transition-all duration-200  hover:bg-white/20 bg-white  focus:outline-none border border-gray-200  rounded-md px-6 ml-2">  Floor <img src="icons/drop.png" /> </button>
                    </div>
                </div>
                <div class="w-[100%] h-10 bg-[#E5E7EB] py-1.5 px-4  rounded-md">
                    <table class="w-full text-sm rounded-2xl ">
                        <tr class="w-full text-\[\#6B7280\] h-9 ">
                            <td class="h-5">Room</td>
                            <td class="h-5">Room Type</td>
                            <td class="h-5">Status</td>
                            <td class="h-5 ">Guest</td>
                            <td class="h-5">Check In</td>
                            <td class="h-5">Check Out</td>
                        </tr>
                        <tr class="h-10 border-b border-gray-300 ">
                            <td>
                                <p class="w-full ">Room #</p>
                            </td>
                            <td>
                                <p class="w-full">type</p>
                            </td>
                            <td>
                                <div class="w-25 h-[25px] bg-primary flex justify-center p-2 rounded-full">
                                    <p class="text-white">status here</p>
                                </div>
                            </td>
                            <td>
                                <p class="w-full">Guest</p>
                             </td>
                            <td>
                                <p class="w-full">time in</p>
                            </td>
                            <td>
                                <p class="w-full">time out</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        @* RIGHT DIV*@
        <div class="w-2/5 h-full flex flex-col mt-5">
            <div class="w-full h-400 bg-white rounded-2xl p-7 ">
                <div class="flex">
                    <p class="text-2xl font-bold ">
                        Bookings
                    </p>
                </div>
                <div class="w-full mt-5 h-[1px] bg-gray-300"></div>
                <div class="w-[100%] h-20 bg-[#E5E7EB] -mb-2  rounded-md mt-5 flex px-3  justify-between">
                    <div class="size-10 w-11 rounded-full bg-[url('/clouds.png')] bg-cover "></div>
                    <div class="flex flex-col w-35">
                        <p class="w-full -mb-5 font-semibold text-sm">Kenneth James</p>
                        <p class="w-full  -mb-5 text-[#6B7280] text-xs">Deluxe Room</p>
                        <p class="w-full text-[#6B7280] text-xs">Status</p>
                    </div>
                    <div class="flex text-right">
                        <div class=" flex-col  ">
                            <p class="w-full -mb-5 text-[#6B7280] text-xs ">Check In: Nov. 20, 2025</p>
                            <p class="w-full  text-[#6B7280] text-xs">Check Out: Nov. 20, 2025</p>
                        </div>
                        <div class="">
                            <NavLink href="/reservation/new/standard"
                                        class="focus:outline-none bg-primary/90  transition-all duration-300 hover:bg-primary/70 p-2 px-4 text-center text-white rounded-md text-sm font-semibold">
                                        Details
                            </NavLink>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>


</div>

@code {
    private bool IsDropdownOpen = false;
    private void CloseDropdown()
    {
        IsDropdownOpen = false;
        StateHasChanged();
    }
    private void OpenDropdown()
    {
        IsDropdownOpen = true;
        StateHasChanged();
    }

    private void SelectFilter(string filter)
    {

        // selectedFilter = filter;
        // staffs = baseStaffs;
        // totalStaff = staffs.Count;
        // staffs = staffs.Where(s => s.position == filter).ToList();
        // FilterStaffs();
        // CloseDropdown();
    }
}
