@page "/dashboard/receptionist"


<div class="bg-background flex min-h-screen w-screen flex-col justify-start">

    @* Navbar *@
    <RecepNavBar/>

    @*Left Div*@
    <div class="font-montserrat flex w-7/8 items-stretch justify-evenly">
        <div class="flex w-4/5 flex-col">
            <div class="flex h-25 w-full justify-center">
                <div class="flex h-full w-full justify-evenly rounded-2xl bg-white">
                    <div class="mt-10 ml-4 h-full w-2/5">
                        <div class="flex h-15 w-full justify-center rounded-xl bg-[#D1FAE5]">
                            <Icon Name="hotel" Size="40px" Color="#059669" />
                        </div>
                    </div>
                    <div class="flex h-6/8 w-full">
                        <div class="mt-6 h-full w-4/5 items-start">
                            <p class="w-full text-sm">Available Rooms</p>
                            <p class="w-full text-3xl font-bold">-</p>
                        </div>
                    </div>
                </div>
                <div class="flex h-full w-full justify-evenly rounded-2xl bg-white">
                    <div class="h-50% ml-4 w-2/5">
                        <div class="flex h-15 w-full justify-center rounded-xl bg-[#FEE2E2]">
                            <Icon Name="door_front" Size="40px" Color="#DC2626" />
                        </div>
                    </div>
                    <div class="flex h-4/5 w-full">
                        <div class="mt-6 h-full w-4/5 items-start">
                            <p class="w-full text-sm">Occupied Rooms</p>
                            <p class="w-full text-3xl font-bold">-</p>
                        </div>
                    </div>
                </div>
                <div class="flex h-full w-full justify-evenly rounded-2xl bg-white">
                    <div class="h-50% ml-4 w-2/5">
                        <div class="flex h-15 w-full justify-center rounded-xl bg-[#FEF3C7]">
                            <Icon Name="cleaning_services" Size="40px" Color="#D97706" />
                        </div>
                    </div>
                    <div class="flex h-6/8 w-full">
                        <div class="mt-6 h-full w-4/5 items-start">
                            <p class="w-full text-sm">Maintenance</p>
                            <p class="w-full text-3xl font-bold">-</p>
                        </div>
                    </div>
                    
                </div>
                <div class="flex h-full w-full justify-evenly rounded-2xl bg-white">
                    <div class="h-50% ml-4 w-2/5">
                        <div class="flex h-15 w-full justify-center rounded-xl bg-[#EDE9FE]">
                            <Icon Name="event_available" Size="40px" Color="#7C3AED" />
                        </div>
                    </div>
                    <div class="flex h-6/8 w-full">
                        <div class="mt-6 h-full w-4/5 items-start">
                            <p class="w-full text-sm">Reservation</p>
                            <p class="w-full text-3xl font-bold">-</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="font-montserrat flex h-370 w-full flex-col rounded-2xl bg-white p-7">
                <div class="flex w-full flex-col">
                    <p class="w-full text-2xl font-bold">Room Inventory</p>
                </div>
                <div class="h-[1px] w-full bg-gray-300"></div>
                <div class="flex w-full">
                    <input type="text" name="name" placeholder="Search Rooms..."
                           class="w-130 rounded-md border border-gray-200 bg-white p-2 px-4 pl-3 text-sm duration-250 focus:outline-none focus:border-gray-500" />
                    <div class="fixed inset-0 z-20" style="@(IsDropdownOpen ? "opacity: 1;" : "opacity: 0; pointer-events:none;")" @onclick='CloseDropdown'></div>
                    <div class="flex h-full">
                        <ul class="absolute z-21 mt-13 overflow-hidden rounded-md bg-[#fafafa] transition-all duration-200" style="@(IsDropdownOpen ? "opacity: 1;" : "opacity: 0; pointer-events:none;")">
                        </ul>
                        <button @onclick="OpenDropdown" class="ml-7 flex h-10 cursor-pointer content-center justify-between rounded-md border border-gray-200 bg-white px-6 transition-all duration-200 hover:bg-white/20 focus:outline-none">  Category <img src="icons/drop.png"  class="flex"/> </button>

                        <ul class="absolute z-21 mt-13 overflow-hidden rounded-md bg-[#fafafa] transition-all duration-200" style="@(IsDropdownOpen ? "opacity: 1;" : "opacity: 0; pointer-events:none;")">
                        </ul>
                        <button @onclick="OpenDropdown" class="ml-2 flex h-10 cursor-pointer content-center rounded-md border border-gray-200 bg-white px-6 transition-all duration-200 hover:bg-white/20 focus:outline-none">  Status <img src="icons/drop.png" /> </button>

                        <ul class="absolute z-21 mt-13 overflow-hidden rounded-md bg-[#fafafa] transition-all duration-200" style="@(IsDropdownOpen ? "opacity: 1;" : "opacity: 0; pointer-events:none;")">
                        </ul>
                        <button @onclick="OpenDropdown" class="ml-2 flex h-10 cursor-pointer content-center rounded-md border border-gray-200 bg-white px-6 transition-all duration-200 hover:bg-white/20 focus:outline-none">  Floor <img src="icons/drop.png" /> </button>
                    </div>
                </div>
                <div class="h-10 w-[100%] rounded-md bg-[#E5E7EB] px-4 py-1.5">
                    <table class="w-full rounded-2xl text-sm">
                        <tr class="text-\[\#6B7280\] h-9 w-full">
                            <td class="h-5">Room</td>
                            <td class="h-5">Room Type</td>
                            <td class="h-5">Status</td>
                            <td class="h-5">Guest</td>
                            <td class="h-5">Check In</td>
                            <td class="h-5">Check Out</td>
                        </tr>
                        <tr class="h-10 border-b border-gray-300">
                            <td>
                                <p class="w-full">Room #</p>
                            </td>
                            <td>
                                <p class="w-full">type</p>
                            </td>
                            <td>
                                <div class="bg-primary flex h-[25px] w-25 justify-center rounded-full p-2">
                                    <p class="text-white">status here</p>
                                </div>
                            </td>
                            <td>
                                <p class="w-full">Guest</p>
                             </td>
                            <td>
                                <p class="w-full">time in</p>
                            </td>
                            <td>
                                <p class="w-full">time out</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        @* RIGHT DIV*@
        <div class="mt-5 flex h-full w-2/5 flex-col">
            <div class="h-400 w-full rounded-2xl bg-white p-7">
                <div class="flex">
                    <p class="text-2xl font-bold">
                        Bookings
                    </p>
                    <div class="ml-9">
                        <input type="text" name="name" placeholder="Search Booking..."
                               class="w-45 rounded-md border border-gray-200 bg-white p-2 px-4 pl-3 text-sm duration-250 focus:outline-none focus:border-gray-500" />

                        <NavLink href="/reservation/new/standard"
                                 class="bg-primary/90 text-md rounded-md p-2 px-4 text-center font-semibold text-white transition-all duration-300 hover:bg-primary/70 focus:outline-none">
                                 Add Booking
                        </NavLink>
                    </div>
                </div>
                <div class="mt-5 h-[1px] w-full bg-gray-300"></div>
                <div class="mt-5 -mb-2 flex h-20 w-[100%] justify-between rounded-md bg-[#E5E7EB] px-3">
                    <div class="size-10 w-11 rounded-full bg-[url('/clouds.png')] bg-cover "></div>
                    <div class="flex w-35 flex-col">
                        <p class="-mb-5 w-full text-sm font-semibold">Kenneth James</p>
                        <p class="-mb-5 w-full text-xs text-[#6B7280]">Deluxe Room</p>
                        <p class="w-full text-xs text-[#6B7280]">Status</p>
                    </div>
                    <div class="flex text-right">
                        <div class="flex-col">
                            <p class="-mb-5 w-full text-xs text-[#6B7280]">Check In: Nov. 20, 2025</p>
                            <p class="w-full text-xs text-[#6B7280]">Check Out: Nov. 20, 2025</p>
                        </div>
                        <div class="">
                            <NavLink href="/reservation/new/standard"
                                        class="bg-primary/90 rounded-md p-2 px-4 text-center text-sm font-semibold text-white transition-all duration-300 hover:bg-primary/70 focus:outline-none">
                                        Details
                            </NavLink>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>


</div>

@code {
    private bool IsDropdownOpen = false;
    private void CloseDropdown()
    {
        IsDropdownOpen = false;
        StateHasChanged();
    }
    private void OpenDropdown()
    {
        IsDropdownOpen = true;
        StateHasChanged();
    }

    private void SelectFilter(string filter)
    {

        // selectedFilter = filter;
        // staffs = baseStaffs;
        // totalStaff = staffs.Count;
        // staffs = staffs.Where(s => s.position == filter).ToList();
        // FilterStaffs();
        // CloseDropdown();
    }
}
