@page "/rooms"
@using Oasis.Components.ui
<div class="w-screen min-h-screen flex justify-center">
    <div class="flex justify-evenly w-[90%] gap-x-10 gap-y-15 flex-wrap">

    @for(int i = 0; i < 10; i++){
    <RoomCard number="@Convert.ToString("10"+i)" type="Suite" price="7500" status="Available"/>

    }
    </div>

</div>

@code {
     
}
