@page "/reservation/new/deluxe"
@rendermode InteractiveServer
@using Oasis.Components.Layout
@inject NavigationManager Navigation

<div class="w-full h-screen flex justify-center">

	<div class="absolute top-5 left-5 flex font-montserrat cursor-pointer" @onclick="GoBack">
		<Icon Name="Arrow_Back" Class="stroke-4" />
		<p class="text-xl -ml-3">Back</p>
	</div>
	<div class="w-1/2 h-screen flex justify-center font-montserrat">
		<div class="w-full h-3/5 flex flex-col justify-between">
			<div class="w-full">

				<p class="self-start font-wittgenstein text-5xl font-extrabold underline underline-offset-40" style="text-decoration-thickness:1px">Deluxe Room&nbsp;&nbsp;</p>
				<p class="self-start mt-12"><span class="text-4xl font-bold">₱2,500</span> per night</p>
				<p class="self-start mt-5 w-9/10">Our <b>Deluxe Room</b> offers a perfect blend of comfort, style, and modern amenities for both relaxation and productivity.</p>
				<ul class="self-start ml-10 mt-5 list-disc">
					<li class="mb-2">Plush bed with premium linens</li>
					<li class="mb-2">Private bathroom with deluxe toiletries</li>
					<li class="mb-2">Flat-screen TV, free Wi-Fi, and minibar</li>
					<li class="mb-2">Air conditioning and enhanced room space</li>
					<li class="mb-2">Complimentary coffee and tea station</li>
				</ul>
			</div>
			<div class="w-full h-1/5 flex">
				<div class="w-1/5 h-full">
					<div class="flex -mt-0.5">
						<img src="/icons/person.png" style="width:40px" alt="Alternate Text" />
						<p class="-ml-4">Guest</p>
					</div>
					put here
				</div>
				<div class="w-1/5 h-full">
					<div class="flex">
						<img src="/icons/calendar.png" style="width:35px" alt="Alternate Text" />
						<p class="-ml-3">Check-In</p>
					</div>
					put here
				</div>
				<div class="w-1/5 h-full">
					<div class="flex">
						<img src="/icons/calendar.png" style="width:35px" alt="Alternate Text" />
						<p class="-ml-3">Check-Out</p>
					</div>
					put here
				</div>
			</div>
			<NavLink href="/payment" class="self-start " style="background-color: #0040a6; padding: 20px 40px 20px 40px; border-radius: 40px; font-size:24px; font-family:Montserrat,serif; ">Book room</NavLink>
		</div>
	</div>
	<div class="w-1/4 h-screen flex justify-center">
		<div class="bg-[url('/standard_room.jpeg')] bg-cover bg-center rounded-2xl h-3/5 w-full"></div>

	</div>
</div>

@code {
	private void GoBack(){

		Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
		Navigation.NavigateTo("javascript:history.back()", true);
	}

	private void GoTo(){
		Navigation.NavigateTo("/payment");
	}
}
