@page "/reservation/new/suite"
@rendermode InteractiveServer
@using Oasis.Components.Layout
@inject NavigationManager Navigation
@using Oasis.Components.ui
<div class="w-full h-screen flex justify-center">
	<div class="absolute top-5 left-5 flex font-montserrat cursor-pointer" @onclick="GoBack">
		<Icon Name="Arrow_Back" Class="stroke-4" />
		<p class="text-xl -ml-3">Back</p>
	</div>
	<div class="w-[calc(25%+10rem)] h-screen flex flex-col justify-center">
		<div class="transition-all duration-500 bg-center rounded-2xl h-3/5 w-full"
			 style="background-image: url('@hoveredImage'); background-size: cover;">
		</div>
		<div class="w-full flex h-40 justify-between">
			<div @onmouseover='()=> hoveredImage = "suite-1.jpg"'
				 style="background-image: url('suite-1.jpg'); background-size: cover;"
				 class="h-full w-[30%] bg-center rounded-md shadow-md shadow-gray-700/50">
			</div>
			<div @onmouseover='()=> hoveredImage = "suite-2.jpg"'
				 style="background-image: url('suite-2.jpg'); background-size: cover;"
				 class="h-full w-[30%] bg-center rounded-md shadow-md shadow-gray-700/50">
			</div>
			<div @onmouseover='()=> hoveredImage = "suite-3.jpg"'
				 style="background-image: url('suite-3.jpg'); background-size: cover;"
				 class="h-full w-[30%] bg-center rounded-md shadow-md shadow-gray-700/50">
			</div>
		</div>
	</div>
	<div class="w-1/2 h-screen flex justify-center font-montserrat pl-35">
		<div class="w-full h-3/5 flex flex-col justify-between">
			<div class="w-full">

				<p class="self-start font-wittgenstein text-5xl font-extrabold underline underline-offset-40" style="text-decoration-thickness:1px">Suite Room&nbsp;&nbsp;</p>
				<p class="self-start mt-12"><span class="text-4xl font-bold">₱5,200</span> per night</p>
				<p class="self-start mt-5">
					Our <b>Suite Room</b> provides a luxurious experience with spacious elegance and premium amenities.
				</p>
				<ul class="self-start ml-10 mt-5 list-disc">
					<li class="mb-2">King-size bed with high-quality linens</li>
					<li class="mb-2">Private bathroom with a bathtub and luxury toiletries</li>
					<li class="mb-2">Smart TV, free high-speed Wi-Fi"</li>
					<li class="mb-2">Separate living area for added comfort</li>
					<li class="mb-2">
						Air conditioning with personalized climate control
					</li>
				</ul>
			</div>
			<div class="w-full h-1/5 flex">
				<div class="w-2/5 h-full flex">
				
					<CustomDatePicker Placeholder="Check-In Date" Value="checkInDate" Class="mx-2" />
					<CustomDatePicker Placeholder="Check-Out Date" Value="checkOutDate" Class="mx-2" />
				</div>
			</div>
			<NavLink href="/payment" class="self-start bg-primary hover:bg-primary/80 transition-all font-bold duration-300 cursor-pointer px-20 py-4 rounded-xl font-montserrat text-white text-lg">Book</NavLink>
		</div>
	</div>
</div>

@code {
	private DateOnly? checkInDate;
	private DateOnly? checkOutDate;
    string hoveredImage = "suite-1.jpg";
	private void GoBack()
	{
		Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
		Navigation.NavigateTo("javascript:history.back()", true);
	}
	private void GoTo()
	{
		Navigation.NavigateTo("/payment");
	}
}
