@page "/dashboard/guest"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject CheckInState CheckIn
@inject RoomServices RoomService
@using Oasis.Data.Models
@using Oasis.Library
@using Oasis.State

@using Oasis.Components.ui
<div class="bg-[#fafafa] w-screen min-h-screen flex flex-col py-20 font-montserrat ">

    @* Navbar *@
    <GuestNavbar/>

    @* Content *@

    <div class="w-full h-150 bg-[url('/availRoomPic.jpeg')] bg-cover bg-center">

    </div>
    <div class="w-full h-25 flex justify-center -mt-10">
        <div class="z-1 rounded-full h-full w-1/2 bg-gray-300 flex justify-center">
            <div class="z-10 rounded-full h-full -mt-5 w-[96%] font-semibold text-5xl bg-primary text-white flex justify-center">Available Rooms</div>
        </div>
    </div>

    @* Standard *@
    <div class="flex flex-col w-full py-25">
        <div class="font-wittgenstein font-bold font-bold text-5xl">Standard Room</div>
        <div class="text-primary font-semibold text-xl">P 4,500 per night</div>
        <div class="h-[2px] bg-gray-400 w-100"></div>
        <div class="flex tracking-wider text-2xl font-wittgenstein py-2 mb-12.5">Our<p class="text-primary italic font-bold -mx-2">Standard Room</p>provides a cozy and well-equipped space designed for comfort and convenience.</div>
        <CustomCarousel img="@standardImages" />
        <div class="flex justify-between items-start w-275 py-10 z-10">
            <ul class="h-full list-disc text-white">

                <li>Comfortable bed with quality linens</li>
                <li>Functional workspace and seating area</li>
                <li>Flat-screen TV, high-speed Wi-Fi, and minibar</li>
            </ul>
            <ul class="h-full list-disc  text-white">
                <li>Ensuite bathroom with essential toiletries</li>
                <li>Ideal for both short and extended stays</li>
            </ul>
        </div>
        <div class="z-10">
                <button @onclick='async () => await SetRoomType("standard")' class="bg-white border-white border-2 text-primary font-semibold hover:bg-primary/80 active:bg-primary/95 hover:text-white w-150 rounded-full p-5 transition-all duration-250 cursor-pointer">Book Now</button>
        </div>
        <div class="bg-primary h-200 w-full absolute mt-125 z-5 flex  flex-col item-center overflow-hidden">
            <div class="flex-shrink-0 bg-[#fafafa] rounded-[100%] w-[105vw] h-260 -mt-165 z-2"></div>
            <div class="h-105 bg-[#fafafa] w-full flex flex-col justify-center">
                <div class="flex justify-between h-50 w-full z-3 -mt-5">
                    <div style="clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 100%);" class="w-1/2 h-full bg-primary"></div>
                    <div style="clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 100% 100%);" class="w-1/2 h-full bg-primary"></div>
                </div>
                <div class="flex-shrink-0 bg-primary rounded-[100%] w-[105vw] h-350 -mt-300 z-1"></div>
            </div>
        </div>
    </div>

    @* Deluxe *@
    <div class="flex flex-col w-full py-25">
        <div class="font-wittgenstein font-bold font-bold text-5xl">Deluxe Room</div>
        <div class="text-primary font-semibold text-xl">P 5,500 per night</div>
        <div class="h-[2px] bg-gray-400 w-100"></div>
        <div class="flex tracking-wider text-2xl font-wittgenstein py-2 mb-12.5">Our<p class="text-primary italic font-bold -mx-2">Deluxe Room</p>offers a perfect blend of comfort, style, and modern amenities for both relaxation and productivity.</div>
        <CustomCarousel img="@deluxeImages" />
        <div class="flex justify-between items-start w-275 py-10 z-10">
            <ul class="h-full list-disc text-white">

                <li>King-sized bed with high-quality linens</li>
                <li>Elegant sitting area with scenic views</li>
                <li>Flat-screen TV, high-speed Wi-Fi, minibar, and safe</li>
            </ul>
            <ul class="h-full list-disc  text-white">
                <li>Well-appointed bathroom with rainfall shower or soaking tub</li>
                <li>Luxurious toiletries and plush bathrobes</li>
            </ul>
        </div>
        <div class="z-10">
                <button @onclick='async () => await SetRoomType("deluxe")' class="bg-white border-white border-2 text-primary font-semibold hover:bg-primary/80 active:bg-primary/95 hover:text-white w-150 rounded-full p-5 transition-all duration-250 cursor-pointer">Book Now</button>
        </div>
        <div class="bg-primary h-200 w-full absolute mt-125 z-5 flex  flex-col item-center overflow-hidden">
            <div class="flex-shrink-0 bg-[#fafafa] rounded-[100%] w-[105vw] h-260 -mt-165 z-2"></div>
            <div class="h-105 bg-[#fafafa] w-full flex flex-col justify-center">
                <div class="flex justify-between h-50 w-full z-3 -mt-5">
                    <div style="clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 100%);" class="w-1/2 h-full bg-primary"></div>
                    <div style="clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 100% 100%);" class="w-1/2 h-full bg-primary"></div>
                </div>
                <div class="flex-shrink-0 bg-primary rounded-[100%] w-[105vw] h-350 -mt-300 z-1"></div>
            </div>
        </div>
    </div>

    @* Suite *@
    <div class="flex flex-col w-full py-25">
        <div class="font-wittgenstein font-bold font-bold text-5xl">Suite Room</div>
        <div class="text-primary font-semibold text-xl">P 7,500 per night</div>
        <div class="h-[2px] bg-gray-400 w-100"></div>
        <div class="flex tracking-wider text-2xl font-wittgenstein py-2 mb-12.5">Our<p class="text-primary italic font-bold -mx-2">Suite Room</p>is a spacious and well-appointed accommodation that typically includes a separate living area and a bedroom.</div>
        <CustomCarousel img="@suiteImages" />
        <div class="flex justify-between items-start w-275 py-10 z-10">
            <ul class="h-full list-disc text-white">

                <li>Sofa, coffee table, and sometimes a dining space</li>
                <li>King or queen-sized bed with premium bedding</li>
                <li>Ensuite with luxury amenities, bathtub, or walk-in shower</li>
            </ul>
            <ul class="h-full list-disc  text-white">
                <li>TV, minibar, Wi-Fi, work desk, and sometimes a kitchenette</li>
                <li>
                    Private balcony, city/sea views, and exclusive services in
                    upscale hotels
                </li>
            </ul>
        </div>
        <div class="z-10">
                <button @onclick='async () => await SetRoomType("suite")' class="bg-white border-white border-2 text-primary font-semibold hover:bg-primary/80 active:bg-primary/95 hover:text-white w-150 rounded-full p-5 transition-all duration-250 cursor-pointer">Book Now</button>
        </div>
        <div class="bg-primary h-200 w-full absolute mt-125 z-5 flex  flex-col item-center overflow-hidden">
            <div class="flex-shrink-0 bg-[#fafafa] rounded-[100%] w-[105vw] h-260 -mt-165 z-2"></div>
            <div class="h-105 bg-[#fafafa] w-full flex flex-col justify-center">
                <div class="flex justify-between h-50 w-full z-3 -mt-5">
                    <div style="clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 0% 100%);" class="w-1/2 h-full bg-primary"></div>
                    <div style="clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 100% 100%);" class="w-1/2 h-full bg-primary"></div>
                </div>
                <div class="flex-shrink-0 bg-primary rounded-[100%] w-[105vw] h-350 -mt-300 z-1"></div>
            </div>
        </div>
    </div>
</div> 

@code {
    List<string> standardImages = new List<string>() { "standard/standard-1.jpg", "standard/standard-2.jpg", "standard/standard-3.jpg", "standard/standard-4.jpg", "standard/standard-5.jpg"};
    List<string> deluxeImages = new List<string>() { "deluxe/deluxe-1.jpg", "deluxe/deluxe-2.jpg", "deluxe/deluxe-3.jpg", "deluxe/deluxe-4.jpg", "deluxe/deluxe-5.jpg"};
    List<string> suiteImages = new List<string>() { "suite/suite-1.jpg", "suite/suite-2.jpg", "suite/suite-3.jpg", "suite/suite-4.jpg", "suite/suite-5.jpg"};

    private async Task SetRoomType(string roomType)
    {
        Console.WriteLine(roomType);
        await CheckIn.SetRoomTypeAsync(roomType);
        NavigationManager.NavigateTo("/book/" + roomType);
    }
}
