@inject NavigationManager NavigationManager

<div class="bg-[#fafafa] w-screen py-5 px-10 flex justify-between items-center font-montserrat shadow-md shadow-gray-400/50">
    <div class="h-full w-1/2 flex justify-start items-center">
        <div class="flex h-full justify-center items-center">
            <img src="logo.png" alt="Alternate Text" class="pb-2 h-10" />
            <p class="ml-10 @GetNavLinkClass("/dashboard/guest")"><NavLink href="/dashboard/guest">Home</NavLink></p>
            <p class="ml-10 @GetNavLinkClass("/bookings")"><NavLink href="/bookings">Bookings</NavLink></p>
            <p class="ml-10">Services</p>
        </div>
    </div>
    <div class="h-full flex justify-center items-center">
        <img src="/icons/notification.png" alt="Notification" class="w-8" />
        Welcome, Guest |
        @* <button class="cursor-pointer hover:bg-red-300/40 p-1 px-3 rounded-md transition-all duration-300">
        <NavLink href="/signin"><Icon Name="Logout" size="30px" Class="focus:outline-none mt-1 " Color="black" /></NavLink>
        </button> *@
        <img src="/female-receptionist.png" alt="Alternate Text" class="w-9" />
    </div>
</div>

@code {
    private string GetNavLinkClass(string route)
    {
        return NavigationManager.Uri.Contains(route)
            ? "text-green-800  font-bold"  // Active style
            : "text-gray-700 hover:text-blue-500"; // Default style
    }
}
