@rendermode InteractiveServer
@using Oasis.Components.Layout
@inject NavigationManager Navigation

<div class="w-full h-screen flex justify-center">
	<div class="absolute top-5 left-5 flex font-montserrat cursor-pointer" @onclick="GoBack">
		<Icon Name="Arrow_Back" Class="stroke-4" />
		<p class="text-xl -ml-3">Back</p>
	</div>
	<div class="w-[calc(25%+10rem)] h-screen flex flex-col justify-center">
		<div class=" transition-all duration-500 bg-center rounded-2xl h-3/5 w-full"
			 style="background-image: url('@hoveredImage'); background-size: cover;">
		</div>
		<div class="w-full flex h-40 justify-between">
			<div @onmouseover='()=> hoveredImage = "standard-1.jpg"'
				 style="background-image: url('standard-1.jpg'); background-size: cover;"
				 class="h-full w-[30%] bg-center rounded-md shadow-md shadow-gray-700/50">
			</div>
			<div @onmouseover='()=> hoveredImage = "standard-2.jpg"'
				 style="background-image: url('standard-2.jpg'); background-size: cover;"
				 class="h-full w-[30%] bg-center rounded-md shadow-md shadow-gray-700/50">
			</div>
			<div @onmouseover='()=> hoveredImage = "standard-3.jpg"'
				 style="background-image: url('standard-3.jpg'); background-size: cover;"
				 class="h-full w-[30%] bg-center rounded-md shadow-md shadow-gray-700/50">
			</div>
		</div>
	</div>
	
	<div class="w-1/2 h-screen flex justify-center font-montserrat pl-35">
		<div class="w-full h-3/5 flex flex-col justify-start">
			<div class="w-full">

			<p class="self-start font-wittgenstein text-5xl font-extrabold underline underline-offset-40" style="text-decoration-thickness:1px">Standard Room&nbsp;&nbsp;</p>
			<p class="self-start mt-12"><span class="text-4xl font-bold">₱1,500</span> per night</p>
			<p class="self-start mt-5">Our <b>Standard Room</b> provides a cozy and well-equipped space designed for comfort and convenience.</p>
			<ul class="self-start ml-10 mt-5 list-disc">
				<li class="mb-2">Cozy bed with fresh linens</li>
				<li class="mb-2">Private bathroom with toiletries</li>
				<li class="mb-2">Flat-screen TV and free Wi-Fi</li>
				<li class="mb-2">Air conditioning</li>
				</ul>
			</div>

			<NavLink href="/reservation/new/standard" class="mt-5 self-start bg-primary hover:bg-primary/80 transition-all font-bold duration-300 cursor-pointer px-20 py-4 rounded-xl font-montserrat text-white text-lg">See room</NavLink>
		</div>
	</div>
</div> 

@code {
	private string hoveredImage = "standard-1.jpg";


	private void GoBack()
	{
		Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
		Navigation.NavigateTo("javascript:history.back()", true);
	}
	private void GoTo()
	{

		Navigation.NavigateTo("/reservation/new/standard");
	}
}
