@rendermode InteractiveServer
@using Oasis.Components.Layout
@inject NavigationManager Navigation

<div class="w-full h-screen flex justify-center">
	<div class="w-[calc(25%+10rem)] h-screen flex flex-col justify-center">
		<div class="transition-all duration-500 bg-center rounded-2xl h-3/5 w-full"
			 style="background-image: url('@hoveredImage'); background-size: cover;">
		</div>
		<div class="w-full flex h-40 justify-between">
			<div @onmouseover='()=> hoveredImage = "suite-1.jpg"'
				 style="background-image: url('suite-1.jpg'); background-size: cover;"
				 class="h-full w-[30%] bg-center rounded-md shadow-md shadow-gray-700/50">
			</div>
			<div @onmouseover='()=> hoveredImage = "suite-2.jpg"'
				 style="background-image: url('suite-2.jpg'); background-size: cover;"
				 class="h-full w-[30%] bg-center rounded-md shadow-md shadow-gray-700/50">
			</div>
			<div @onmouseover='()=> hoveredImage = "suite-3.jpg"'
				 style="background-image: url('suite-3.jpg'); background-size: cover;"
				 class="h-full w-[30%] bg-center rounded-md shadow-md shadow-gray-700/50">
			</div>
		</div>
	</div>

	<div class="w-1/2 h-screen flex justify-center font-montserrat pl-35">
		<div class="w-full h-3/5 flex flex-col justify-start">
			<div class="w-full">

				<p class="self-start font-wittgenstein text-5xl font-extrabold underline underline-offset-40" style="text-decoration-thickness:1px">Suite Room&nbsp;&nbsp;</p>
				<p class="self-start mt-12"><span class="text-4xl font-bold">₱5,200</span> per night</p>
				<p class="self-start mt-5">
					Our <b>Suite Room</b> provides a luxurious experience with spacious elegance and premium amenities.
				</p>
				<ul class="self-start ml-10 mt-5 list-disc">
					<li class="mb-2">King-size bed with high-quality linens</li>
					<li class="mb-2">
						Private bathroom with a bathtub and luxury toiletries
					</li>
					<li class="Smart TV, free high-speed Wi-Fi</li>
					<li class="mb-2">Separate living area for added comfort</li>
					<li class="mb-2">
						Air conditioning with personalized climate control
					</li>
					<li class="mb-2">
						Complimentary coffee machine and refreshment bar
					</li>
					<li class="mb-2">
						Exclusive access to premium hotel services
					</li>
				</ul>
			</div>
			<NavLink href="/reservation/new/suite" class="mt-5 self-start bg-primary hover:bg-primary/90 transition-all font-bold duration-300 cursor-pointer px-20 py-4 rounded-xl font-montserrat text-white text-lg">See room</NavLink>
		</div>
	</div>
</div>

@code {
    string hoveredImage = "suite-1.jpg";
	private void GoTo()
	{
		Navigation.NavigateTo("/reservation/new/suite");
	}
}
