@page "/"
@rendermode InteractiveServer
@using Oasis.Components.Layout
@inject IJSRuntime JSRuntime
<script src="js/landing.js"></script>

<PageTitle>Home</PageTitle>


<LandingNavbar/>
<div class="w-screen min-h-screen mt-56">

    <section id="home" class="bg-[url('/landing.png')] w-screen h-[calc(100vh-calc(--spacing * 56))] pt-48 bg-cover bg-center flex justify-start">
        <div class="flex flex-col w-1/2 px-20 ml-30 mb-30 leading-[1.1] text-primary">
            <div class="w-full">
                <p class="text-landing font-yeseva-one">
                    A refreshing <br /> stay, every <br /> time.
                </p>
            </div>
             <div class="w-full">

            <button class="text-md transition-colors duration-300 font-semibold mt-10 bg-primary hover:bg-primary/80 cursor-pointer text-white w-40 h-12 rounded-full">
                    <NavLink href="signup" style="font-family:Montserrat,sans-serif">
                        Book Now <img src="/icons/arrow-left.png" class="w-5 h-5 inline-block" />
                    </NavLink>
                </button>
             </div>    
        </div>
    </section>
    <section id="rooms" class="h-[calc(100vh-calc(.25rem*40))] w-screen flex flex-col justify-center font-montserrat">
        <div class="mb-10 text-5xl font-wittgenstein font-bold">
            Rooms
        </div>
        <div class="flex flex-row w-4/5 justify-around">
        <div class="flex flex-row justify-between">
            <div class="group rounded-2xl border border-gray-300 p-5 bg-white w-100 hover:scale-105 transition-all duration-400">
               <div class="bg-[url('/standard-1.jpg')] h-100 bg-cover bg-center rounded-2xl"></div>
                <div class="flex flex-col justify-between mt-8">
                    <div class="flex flex-row justify-between w-full">
                            <p class=" font-bold text-2xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Standard</p>
                            <p class="text-1xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Php 1,500</p>
                            </div>
                    <div class="self-start">
                            <p class="text-1xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out text-sm">Basic Bed Setup, Private Bathroom, Essential Amenities</p>

                        </div>
                        @* <Button style="background-color:#0040A6;border-radius:15px;font-family:Montserrat">Book Now</Button> *@
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-between">
                <div class="group rounded-2xl border border-gray-300 p-5 bg-white w-100 hover:scale-105 transition-all duration-400">
                    <div class="bg-[url('/suite-1.jpg')] h-100 bg-cover bg-center rounded-2xl"></div>
                    <div class="flex flex-col justify-between mt-8">
                    <div class="flex flex-row justify-between w-full">
                            <p class="font-bold text-2xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Suite</p>
                            <p class="text-1xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Php 5,200</p>
                            </div>

                    <div class="self-start">
                            <p class="text-1xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out text-sm">Upgraded Bed, Enhanced Bathroom, Additional Comforts</p>
                    </div>
                        @* <Button style="background-color:#0040A6;border-radius:15px;font-family:Montserrat">Book Now</Button> *@
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-between">
                <div class="group rounded-2xl border border-gray-300 p-5 bg-white w-100 hover:scale-105 transition-all duration-400">
                    <div class="bg-[url('/deluxe-1.jpg')] h-102 bg-cover bg-center rounded-2xl"></div>
                    <div class="flex flex-col justify-between mt-8">
                     <div class="flex flex-row justify-between w-full">
                            <p class="font-bold text-2xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Deluxe</p>
                        <p class="text-1xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Php 2,500</p>
                    </div>
                    <div class="self-start">
                        <p class=" text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out text-sm">Separate Living Space, Luxury Bathroom, Exclusive Perks</p>
                     </div>
                        @* <Button style="background-color:#0040A6;border-radius:15px;font-family:Montserrat">Book Now</Button> *@
                </div>
            </div>
        </div>
        </div>
    </section>
    @* <section id="services" class="h-[calc(100vh-calc(.25rem*40))] w-screen bg-[#f5f5f5] flex flex-col justify-center">
        <div class="mb-10 text-5xl font-wittgenstein font-bold">Services</div>
        <div class="w-5/6 flex flex-wrap flex-row justify-center gap-10">


            <div class="flex h-50 justify-center items-center flex-wrap border-2 border-gray-300 rounded-2xl m-5 p-8 w-2/7 hover:scale-105 transition-all duration-400">

            <div class="size-30 bg-[#0040a6] rounded-full flex py-8 pl-6 pr-6">
                <img src="/spa_booking.png" alt="Spa Booking" style="height-8px" classs="bg-black"/>
                
            </div>
            <div class="flex flex-col w-55 font-montserrat">
                    <div class=" w-full font-bold text-2xl">Spa Bookings</div>
                <div>Massages, facials, and other relaxation treatments.</div>
            </div>
            
        </div>
            <div class="flex h-50 justify-center items-center flex-wrap border-2 border-gray-300 rounded-2xl m-5 p-8 w-2/7 hover:scale-105 transition-all duration-400">
            <div class=" size-30 bg-[#0040a6] rounded-full flex justify-center py-7.5 px-8">
                <img src="/transportation.png" alt="Spa Booking" style="height-8px" classs="bg-black"/>

                </div>
                <div class="flex flex-col w-55 font-montserrat">
                    <div class=" w-full font-bold text-2xl">Transportation</div>
                    <div>
                        Airport transfers or shuttle services.
                    </div>
                </div>
        </div>
            <div class="flex h-50 justify-center items-center flex-wrap border-2 border-gray-300 rounded-2xl m-5 p-8 w-2/7 hover:scale-105 transition-all duration-400">
            <div class=" size-30 bg-[#0040a6] rounded-full flex justify-center py-9 px-7">
                <img src="/room.png" alt="Spa Booking" style="height-8px" classs="bg-black"/>

                </div>
                <div class="flex flex-col  w-55 font-montserrat">
                    <div class=" w-full font-bold text-2xl">Room</div>
                    <div>Delivery of food and beverages directly to your room.</div>
                </div>
        </div>
            <div class="flex h-50 justify-center items-center flex-wrap border-2 border-gray-300 rounded-2xl m-5 p-8 w-2/7 hover:scale-105 transition-all duration-400">
            <div class=" size-30 bg-[#0040a6] rounded-full flex justify-center py-8.5 px-5">
                <img src="/net_access.png" alt="Spa Booking" style="height-8px" classs="bg-black"/>

                </div>
                <div class="flex flex-col w-55 font-montserrat">
                    <div class=" w-full font-bold text-2xl">Internet Access</div>
                    <div>High-speed internet either in the rooms or in common areas.</div>
                </div>
        </div>
            <div class="flex h-50 justify-center items-center flex-wrap border-2 border-gray-300 rounded-2xl m-5 p-8 w-2/7 hover:scale-105 transition-all duration-400">
            <div class=" size-30 bg-[#0040a6] rounded-full flex justify-center py-8 px-7.5">
                <img src="/pet.png" alt="Spa Booking" style="height-8px" classs="bg-black"/>

                </div>
                <div class="flex flex-col w-55 font-montserrat">
                    <div class=" w-full font-bold text-2xl">Pet</div>
                    <div>Pet-friendly rooms and amenities for guests traveling with pets.</div>
                </div>
        </div>
        </div>
    </section> *@
    <section id="about" class="h-[calc(100vh-calc(.25rem*40))] w-screen bg-[#0040A6] flex flex-row text-white">
        <div class="w-1/2 h-full bg-[url('/about-pic.bg.png')] bg-cover">
        </div>
        <div class="w-1/2 h-full flex flex-col justify-center">
            <div class="w-2/3 flex flex-col">

            <p class="w-full font-poppins text-5xl font-extrabold mb-10">About Our Hotel</p>
            <p class="font-montserrat leading-8">
                Welcome to <b>Oasis Hotel</b>, your haven of relaxation and luxury. We offer an escape from the ordinary, where comfort meets elegance in a setting designed to soothe and inspire.

                    <br /><br />At <b>Oasis Hotel</b>, every detail is crafted with care. Whether you're here for a peaceful retreat, a business trip, or an adventure, our beautifully appointed rooms, world-class amenities, and dedicated team ensure an unforgettable stay. Unwind by the pool, savor exquisite cuisine, or explore the vibrant surroundings—whatever your journey, we’re here to make it extraordinary.

                    <br /><br />Discover your perfect getaway at <b>Oasis Hotel</b>.
                </p>
            </div>
        </div>
    </section>
    <section id="contact" class="h-[calc(100vh-calc(.25rem*40))] w-screen flex justify-center flex-row font-montserrat">
        <div class="w-1/3 h-full flex flex-col justify-center">
            <div class="w-9/10 flex flex-col gap-30">
                <p class="w-full text-4xl font-extrabold">Get in Touch</p>
                <p>We'd love to hear from you. Please fill out the form below or use our contact information.</p>
                <div class="flex w-full mt-10">
                    <img src="/icons/address.png" class="w-8 h-8 inline-block" />
                    <p class="font-bold text-3xl">Address</p>
                </div>
                <div class="ml-23 flex w-full">
                    <p>F. Roska Street, Santa Fe, Cebu</p>
                    </div>
                <div class="flex w-full">
                    <img src="/icons/phone.png" class="w-8 h-8 inline-block" />
                    <p class="font-bold text-3xl">Phone</p>
                </div>

                <div class="ml-23 flex w-full">
                    <p>+1 (555) 123-4567</p>
                </div>
                <div class="flex w-full">
                    <img src="/icons/email.png" class="w-8 h-8 inline-block" />
                    <p class="font-bold text-3xl">Email</p>
                </div>

                <div class="ml-23 flex w-full">
                <p>oasis@gmail.com</p>
                </div>
            </div>
        </div>
            <div class="w-1/3 h-full flex flex-col justify-center">
            @* <form action="/" method="post" class="flex flex-col justify-center border rounded-2xl w-20/21 h-4/5 border-gray-300 bg-[#F9FAFB] shadow-md shadow-gray-400/50 border-t-0"> *@
            @*     <label for="name" class="w-full ml-18 -mb-3">Name*</label> *@
            @*     <input name="name" id="name" class="border rounded-lg border-gray-300 bg-white h-10 w-7/8 mb-2" required/> *@
            @*     <label for="email" class="w-full ml-18 -mb-3">Email*</label> *@
            @*     <input name="email" id="email" class="border rounded-lg border-gray-300 bg-white h-10 w-7/8 mb-2" required /> *@
            @*     <label for="message" class="w-full ml-18 -mb-3">Message*</label> *@
            @*     <textarea name="message" id="message" class="border rounded-lg border-gray-300 bg-white h-50 w-7/8 mb-2 resize-none p-2" required /> *@
            @*     <button type="submit" class="bg-[#0040a6] text-white w-7/8 rounded-lg h-15 cursor-pointer hover:bg-primary/75 transition-colors duration-300">Send Message</button> *@
            @* </form> *@
                <img src="logo-transparent.png" alt="Alternate Text" class="h-1/3" />
            </div>
    </section>
    <section id="footer" class="h-1/11 w-screen flex justify-center flex-col font-montserrat bg-[#0C0C0C] text-white">
        <div class="h-4/5 w-9/10 flex flex-row">
            <div class="w-1/5 h-full pt-12 mx-10 flex flex-col">
                <p class="w-full font-bold text-xl">Oasis</p>
                <p class="w-4/5 text-[#9CA3AF] self-start">Creating amazing experiences since 2025.</p>
            </div>
            <div class="w-1/5 h-full flex flex-col">
                <p class=" pt-12 self-start font-bold text-xl">Quick Links</p>
                <p class="text-[#9CA3AF] self-start hover:underline cursor-pointer" @onclick='() => ScrollToSection("home")'>Home</p>
                <p class="text-[#9CA3AF] self-start hover:underline cursor-pointer" @onclick='() => ScrollToSection("rooms")'>Rooms</p>
                @* <p class="text-[#9CA3AF] self-start hover:underline cursor-pointer" @onclick='() => ScrollToSection("services")'>Services</p> *@
                <p class="text-[#9CA3AF] self-start hover:underline cursor-pointer" @onclick='() => ScrollToSection("about")'>About</p>
                
            </div>
            <div class="w-1/5 h-full flex flex-col">
                <p class="w-full pt-12 font-bold text-xl">Contact</p>
                <p class="w-full text-[#9CA3AF]">F. Roska St.</p>
                <p class="w-full text-[#9CA3AF]">Santa Fe, Cebu</p>
                <p class="w-full text-[#9CA3AF]">oasis@gmail.com</p>
                <p class="w-full text-[#9CA3AF]">+1 (555) 123-4567</p>
            </div>
            <div class="w-1/5 h-full flex flex-col">
                <p class="w-full pt-12 font-bold text-xl">Follow Us</p>
                <div class="flex self-start">
                    <a href="https://www.facebook.com/bernardjay.dono" target="_blank" rel="noopener noreferrer">
                        <img src="/icons/fb.png" style="height:24px" alt="FB" class="cursor-pointer" />
                    </a>
                    <a href="https://x.com/beirunshi" target="_blank" rel="noopener noreferrer">
                        <img src="/icons/x_icon.png" style="height:20px" alt="X" class="cursor-pointer" />
                    </a>
                    <a href="https://www.instagram.com/bynib_/" target="_blank" rel="noopener noreferrer">
                        <img src="/icons/ig.png" style="height:20px" alt="IG" class="cursor-pointer" />
                    </a>
                </div>
            </div>
        </div>
        <div class="w-full flex border-t border-[#1F2937] text-[#9CA3AF] pt-5 pb-5 justify-center">© 2025 Oasis Resort and Hotel. All rights reserved.</div>
    </section>
</div>

@code {

    private async Task ScrollToSection(string id)
    {
        await JSRuntime.InvokeVoidAsync("scrollToSection", id);
    }
}