@page "/"
@rendermode InteractiveServer
@using Oasis.Components.Layout

<PageTitle>Home</PageTitle>


<LandingNavbar/>
<div class="w-screen min-h-screen mt-56">

    <section class="bg-[url('/landing.png')] w-screen h-[calc(100vh-calc(--spacing * 56))] pt-48 bg-cover bg-center flex justify-start">
        <div class="flex flex-col w-1/2 px-20 ml-30 mb-30 leading-[1.1] text-primary">
            <div class="w-full">
                <p class="text-landing font-yeseva-one">
                    A refreshing <br /> stay, every <br /> time.
                </p>
            </div>
             <div class="w-full">

            <button class="text-md transition-colors duration-300 font-semibold mt-10 bg-primary hover:bg-primary/80 cursor-pointer text-white w-40 h-12 rounded-full">
                    <NavLink href="signup">
                        Book Now <img src="/icons/arrow-left.png" class="w-5 h-5 inline-block" />
                    </NavLink>
                </button>
             </div>    
        </div>
    </section>
    <section id="rooms" class="h-[calc(100vh-calc(.25rem*40))] w-screen flex flex-col justify-center bg-red-100">
        <div class="mb-10 text-3xl">
            Rooms
        </div>
        <div class="flex flex-row w-2/3 justify-around">
        <div class="flex flex-row justify-between">
            <div class="group rounded-2xl p-5 bg-white w-85 hover:scale-105 transition-all duration-400">
                <img src="/standard_room.jpeg" alt="Alternate Text" style="width:300px" class="rounded-xl" />
                <div class="flex flex-row justify-between mt-8">
                    <div>
                        <p class=" text-2xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Standard</p>
                        <p class="text-1xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Php 1,500</p>
                    </div>
                        <Button style="background-color:#0040A6;border-radius:15px;font-family:Montserrat">Book Now</Button>
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-between">
                <div class="group rounded-2xl p-5 bg-white w-85 hover:scale-105 transition-all duration-400">
                <img src="/standard_room.jpeg" alt="Alternate Text" style="width:300px" class="rounded-xl" />
                    <div class="flex flex-row justify-between mt-8">
                    <div>
                        <p class="text-2xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Suite</p>
                        <p class="text-1xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Php 5,200</p>
                    </div>
                        <Button style="background-color:#0040A6;border-radius:15px;font-family:Montserrat">Book Now</Button>
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-between">
                <div class="group rounded-2xl p-5 bg-white w-85 hover:scale-105 transition-all duration-400">
                <img src="/standard_room.jpeg" alt="Alternate Text" style="width:300px" class="rounded-xl" />
                    <div class="flex flex-row justify-between mt-8">
                    <div>
                        <p class="text-2xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Deluxe</p>
                        <p class="text-1xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Php 2,500</p>
                    </div>
                        <Button style="background-color:#0040A6;border-radius:15px;font-family:Montserrat">Book Now</Button>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section id="services" class="h-[calc(100vh-calc(.25rem*40))] w-screen bg-[#f5f5f5]">
        <div class="flex flex-wrap">
            <div class=" h-full bg-black">
                <img src="/spa_booking.png" alt="Spa Booking" style="width:100px" classs="bg-black"/>
                
            </div>
            <p>Spa Bookings</p>
        </div>
    </section>
    <section id="about" class="h-[calc(100vh-calc(.25rem*40))] w-screen bg-[#fff000]">
        about
    </section>
    <section id="contact" class="h-[calc(100vh-calc(.25rem*40))] w-screen bg-[#00ff00]">
        contact
    </section>
</div>