@page "/"
@rendermode InteractiveServer
@using Oasis.Components.Layout

<PageTitle>Home</PageTitle>


<LandingNavbar/>
<div class="w-screen min-h-screen mt-56">

    <section class="bg-[url('/landing.png')] w-screen h-[calc(100vh-calc(--spacing * 56))] pt-48 bg-cover bg-center flex justify-start">
        <div class="flex flex-col w-1/2 px-20 ml-30 mb-30 leading-[1.1] text-primary">
            <div class="w-full">
                <p class="text-landing font-yeseva-one">
                    A refreshing <br /> stay, every <br /> time.
                </p>
            </div>
             <div class="w-full">

            <button class="text-md transition-colors duration-300 font-semibold mt-10 bg-primary hover:bg-primary/80 cursor-pointer text-white w-40 h-12 rounded-full">
                    <NavLink href="signup">
                        Book Now <img src="/icons/arrow-left.png" class="w-5 h-5 inline-block" />
                    </NavLink>
                </button>
             </div>    
        </div>
    </section>
    <section id="rooms" class="h-[calc(100vh-calc(.25rem*48))] w-screen">
        rooms
    </section>
    <section id="services" class="h-[calc(100vh-calc(.25rem*48))] w-screen">
        services
    </section>
    <section id="about" class="h-[calc(100vh-calc(.25rem*48))] w-screen bg-[#fff000]">
        about
    </section>
    <section id="contact" class="h-[calc(100vh-calc(.25rem*48))] w-screen bg-[#00ff00]">
        contact
    </section>
</div>