@page "/"
@rendermode InteractiveServer
@using Oasis.Components.Layout

<PageTitle>Home</PageTitle>


<LandingNavbar/>
<div class="w-screen min-h-screen mt-56">

    <section class="bg-[url('/landing.png')] w-screen h-[calc(100vh-calc(--spacing * 56))] pt-48 bg-cover bg-center flex justify-start">
        <div class="flex flex-col w-1/2 px-20 ml-30 mb-30 leading-[1.1] text-primary">
            <div class="w-full">
                <p class="text-landing font-yeseva-one">
                    A refreshing <br /> stay, every <br /> time.
                </p>
            </div>
             <div class="w-full">

            <button class="text-md transition-colors duration-300 font-semibold mt-10 bg-primary hover:bg-primary/80 cursor-pointer text-white w-40 h-12 rounded-full">
                    <NavLink href="signup">
                        Book Now <img src="/icons/arrow-left.png" class="w-5 h-5 inline-block" />
                    </NavLink>
                </button>
             </div>    
        </div>
    </section>
    <section id="rooms" class="h-[calc(100vh-calc(.25rem*40))] w-screen flex flex-col justify-center">
        <div class="mb-10 text-5xl font-wittgenstein">
            Rooms
        </div>
        <div class="flex flex-row w-2/3 justify-around">
        <div class="flex flex-row justify-between">
            <div class="group rounded-2xl border border-gray-300 p-5 bg-white w-85 hover:scale-105 transition-all duration-400">
                <img src="/standard_room.jpeg" alt="Alternate Text" style="width:300px" class="rounded-xl" />
                <div class="flex flex-row justify-between mt-8">
                    <div>
                        <p class=" text-2xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Standard</p>
                        <p class="text-1xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Php 1,500</p>
                    </div>
                        <Button style="background-color:#0040A6;border-radius:15px;font-family:Montserrat">Book Now</Button>
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-between">
                <div class="group rounded-2xl border border-gray-300 p-5 bg-white w-85 hover:scale-105 transition-all duration-400">
                <img src="/standard_room.jpeg" alt="Alternate Text" style="width:300px" class="rounded-xl" />
                    <div class="flex flex-row justify-between mt-8">
                    <div>
                        <p class="text-2xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Suite</p>
                        <p class="text-1xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Php 5,200</p>
                    </div>
                        <Button style="background-color:#0040A6;border-radius:15px;font-family:Montserrat">Book Now</Button>
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-between">
                <div class="group rounded-2xl border border-gray-300 p-5 bg-white w-85 hover:scale-105 transition-all duration-400">
                <img src="/standard_room.jpeg" alt="Alternate Text" style="width:300px" class="rounded-xl" />
                    <div class="flex flex-row justify-between mt-8">
                    <div>
                        <p class="text-2xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Deluxe</p>
                        <p class="text-1xl text-gray-500 group-hover:text-black transition-colors duration-400 ease-in-out">Php 2,500</p>
                    </div>
                        <Button style="background-color:#0040A6;border-radius:15px;font-family:Montserrat">Book Now</Button>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section id="services" class="h-[calc(100vh-calc(.25rem*40))] w-screen bg-[#f5f5f5] flex flex-col justify-center">
        <div class="mb-10 text-3xl font-wittgenstein">Services</div>
        <div class="w-5/6 flex flex-wrap flex-row justify-center gap-10">


            <div class="flex h-50 justify-center items-center flex-wrap border-2 border-gray-300 rounded-2xl m-5 p-8 w-2/7 cursor-pointer hover:scale-105 transition-all duration-400">

            <div class="size-30 bg-[#0040a6] rounded-full flex  py-8 pl-6 pr-6">
                <img src="/spa_booking.png" alt="Spa Booking" style="height-8px" classs="bg-black"/>
                
            </div>
            <div class="flex flex-col w-55 font-montserrat">
                    <div class=" w-full font-bold text-2xl">Spa Bookings</div>
                <div>Massages, facials, and other relaxation treatments.</div>
            </div>
            
        </div>
            <div class="flex h-50 justify-center items-center flex-wrap border-2 border-gray-300 rounded-2xl m-5 p-8 w-2/7 cursor-pointer hover:scale-105 transition-all duration-400">
            <div class=" size-30 bg-[#0040a6] rounded-full flex justify-center py-7.5 px-8">
                <img src="/transportation.png" alt="Spa Booking" style="height-8px" classs="bg-black"/>

                </div>
                <div class="flex flex-col w-55 font-montserrat">
                    <div class=" w-full font-bold text-2xl">Transportation</div>
                    <div>
                        Airport transfers or shuttle services.
                    </div>
                </div>
        </div>
            <div class="flex h-50 justify-center items-center flex-wrap border-2 border-gray-300 rounded-2xl m-5 p-8 w-2/7 cursor-pointer hover:scale-105 transition-all duration-400">
            <div class=" size-30 bg-[#0040a6] rounded-full flex justify-center py-9 px-7">
                <img src="/room.png" alt="Spa Booking" style="height-8px" classs="bg-black"/>

                </div>
                <div class="flex flex-col  w-55 font-montserrat">
                    <div class=" w-full font-bold text-2xl">Room</div>
                    <div>Delivery of food and beverages directly to your room.</div>
                </div>
        </div>
            <div class="flex h-50 justify-center items-center flex-wrap border-2 border-gray-300 rounded-2xl m-5 p-8 w-2/7 cursor-pointer hover:scale-105 transition-all duration-400">
            <div class=" size-30 bg-[#0040a6] rounded-full flex justify-center py-8.5 px-5">
                <img src="/net_access.png" alt="Spa Booking" style="height-8px" classs="bg-black"/>

                </div>
                <div class="flex flex-col w-55 font-montserrat">
                    <div class=" w-full font-bold text-2xl">Internet Access</div>
                    <div>High-speed internet either in the rooms or in common areas.</div>
                </div>
        </div>
            <div class="flex h-50 justify-center items-center flex-wrap border-2 border-gray-300 rounded-2xl m-5 p-8 w-2/7 cursor-pointer hover:scale-105 transition-all duration-400">
            <div class=" size-30 bg-[#0040a6] rounded-full flex justify-center py-8 px-7.5">
                <img src="/pet.png" alt="Spa Booking" style="height-8px" classs="bg-black"/>

                </div>
                <div class="flex flex-col w-55 font-montserrat">
                    <div class=" w-full font-bold text-2xl">Pet</div>
                    <div>Pet-friendly rooms and amenities for guests traveling with pets.</div>
                </div>
        </div>
        </div>
    </section>
    <section id="about" class="h-[calc(100vh-calc(.25rem*40))] w-screen bg-[#fff000]">
        about
    </section>
    <section id="contact" class="h-[calc(100vh-calc(.25rem*40))] w-screen bg-[#00ff00]">
        contact
    </section>
</div>