@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}



@theme {
    --color-primary: #0040a6;
    --font-montserrat: "Montserrat", "san-serif";
    --font-yeseva-one: "Yeseva One", "san-serif";
    --font-wittgenstein: "Wittgenstein", "san-serif";
    --text-landing: clamp(2.5rem,5vw,100px);
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-style: normal;
}

@font-face {
    font-family: 'Yeseva One';
    src: url('/fonts/YesevaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wittgenstein';
    src: url('/fonts/Wittgenstein-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
